<!doctype html>
<html ng-app="prjMngProjetos">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- <script src="angular.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-sanitize.min.js"></script>

    <script src="FileServe.js"></script>

    <script>

        function moveArrayElement(arr, from, to) {
            var el = arr[from];
            arr.splice(from, 1);
            arr.splice(to, 0, el);
        };

        function salvar(nome, conteudo) {
            let blob = new Blob([conteudo], { type: "text/plain;charset=utf-8" });
            saveAs(blob, nome + ".html");
        }

        function generateUUID() { // Public Domain/MIT
            var d = new Date().getTime();//Timestamp
            var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now() * 1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16;//random number between 0 and 16
                if (d > 0) {//Use timestamp until depleted
                    r = (d + r) % 16 | 0;
                    d = Math.floor(d / 16);
                } else {//Use microseconds since page-load if supported
                    r = (d2 + r) % 16 | 0;
                    d2 = Math.floor(d2 / 16);
                }
                return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            });
        }
    </script>

    <style>
        .displayTime {
            text-align: center;
            border: 1px solid;
            padding: 5px;
        }

        .zero {

            animation: example 1s infinite;
        }

        @keyframes example {
            from {
                /* background-color: red; */
                /* color: red; */

            }

            to {
                /* color: black; */
                box-shadow: 1px 1px 10px silver;

            }
        }

        .pontos {
            font-weight: 600;
            font-size: x-large;
        }

        .dPrj {
            width: 100%;
            height: 100%;
            top: 0;
            border: none;
            background: silver;
            text-align: center;
        }

        .mPrj {
            display: inline-table;
            border: 1px solid;
            background: white;
            text-align: left;
            padding: 15px;
        }

        pre {
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: large;
            font-family: inherit;
            /* line-height: 1.42857143; */
            /* color: #333; */
            /* word-break: break-all; */
            /* word-wrap: break-word; */
            background-color: #f5f5f5;
            border: 1px solid #ccc;
        }

        * {
            font-size: medium;
            align-items: baseline;
            font-family: sans-serif;
        }

        .titTarefas {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            font-weight: bolder;

        }

        table tr:not(:first-child):hover {
            background-color: #f5f5f5;
            color: crimson;
        }

        tr {
            cursor: default;

        }

        /* tr:hover {
            background-color: #f5f5f5;
            border-bottom: 1px solid;
        } */

        table {
            border: 1px solid;
        }

        .principall {
            width: 80%;
            margin: 0 auto;
        }

        .projeto {
            margin: 15px;
            border: 1px solid;
            padding: 5px;
        }

        label {
            cursor: pointer;
        }

        ul {
            list-style: none;
            display: inline;
        }

        .pos {
            border: 1px solid;
            padding: 5px;
        }

        .linha {
            width: 100%;
            padding: 5px;
            display: inline-grid;
        }

        pre {
            font-family: auto;
        }

        .glyphicon {
            margin: 10px;
            cursor: pointer;
        }

        .glyphicon:hover {
            box-shadow: rgb(190, 151, 77) 1px 1px 2px;
        }

        .linha2 {
            display: flex;
            justify-content: center;
        }

        .inpt {
            width: 25%;
            margin: 0px 5px;
        }

        li {
            margin-left: 20px;
        }

        td,
        th {
            padding-left: 5px;
        }

        .done {
            background: greenyellow;
            color: blue;
        }

        .todo {
            background-color: bisque;
        }
    </style>

</head>

<body>

    <h2>Projetos</h2>
    <div ng-controller="listProjetosController" class="principal">
        <button id="btnNovoPrj" ng-click="abrirDiaolgProjeto()" class="btn btn-primary">Novo Projeto</button>
        <ul class="projetos">
            <li ng-repeat="projeto in projetos track by $index" class="projeto" id="proj{{$index}}">
                <i ng-class="{'glyphicon-folder-open': projeto.visible, 'zero': primeiroPrj(projeto)===false && projeto.visible===false} "
                    ng-click="projeto.visible=!projeto.visible; projeto.pos.visible=false; projeto.tasks.visible=false;"
                    class="glyphicon glyphicon-folder-close" title="Expadir projeto"></i>

                <label>Código: {{projeto.codigo}} - Nome: {{projeto.nome}} </label>
                <i title="Editar" ng-click="abrirDiaolgProjeto(projeto)" class="glyphicon glyphicon-edit"></i>
                <i title="Report" ng-click="projeto.visible=false; exportarProjeto($index,projeto.codigo)"
                    class="glyphicon glyphicon-share"></i>
                <i title="Excluir" class="glyphicon glyphicon-trash" ng-click="deleteProjeto(projeto)"></i>
                <i title="Configurações" class="glyphicon glyphicon-wrench" ng-click="deleteProjeto(projeto)"></i>
                <ul ng-show="projeto.visible">
                    <li class="lii">
                        <pre>{{projeto.descricao}}</pre>
                    </li>
                    <li>
                        <i ng-class="{'glyphicon-folder-open': projeto.pos.visible}"
                            ng-click="projeto.pos.visible=!projeto.pos.visible" class="glyphicon glyphicon-folder-close"
                            alt="Expandir"></i>
                        <label> Envolvidos ({{projeto.pos.length}})</label>
                        <i title="Adicionar envolvido" class="glyphicon glyphicon-plus" ng-click="abrirDiaolgPo(projeto)"></i>
                        <table ng-show="projeto.pos.visible && projeto.visible"
                            style="width: 100%; display: inline-table;">
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                            </tr>
                            <tr ng-repeat="po in projeto.pos track by $index">
                                <td width="10%" style="text-align: center;">
                                    <i title="Editar envolvido" ng-click="abrirDiaolgPo(projeto,po)" class="glyphicon glyphicon-edit"></i>
                                    <i title="Excluir envolvido" class="glyphicon glyphicon-trash"
                                        ng-click="deletePo(projeto,po);projeto.pos.visible=true"></i>
                                </td>
                                <td width="50%">{{po.nome}}</td>
                                <td>{{po.email}}</td>
                                <td>{{po.telefone}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i ng-class="{'glyphicon-folder-open': projeto.observacoes.visible}"
                            ng-click="projeto.observacoes.visible=!projeto.observacoes.visible"
                            class="glyphicon glyphicon-folder-close" title="Expandir Observações"></i>
                        <label> Observações Gerais({{projeto.observacoes.length}})</label>
                        <i class="glyphicon glyphicon-plus" ng-click="abrirDialogObsProjeto(projeto)"></i>

                        <table class="tbObservacoes" ng-show="projeto.observacoes.visible && projeto.visible"
                            style="width: 100%; display: inline-table;">
                            <tr>
                                <th></th>
                                <th>Observação</th>
                                <th>Data</th>
                            </tr>
                            <tr ng-repeat="observacao in projeto.observacoes|reverse track by $index">
                                <td width="10%" style="text-align: center;">
                                    <i class="glyphicon glyphicon-trash"
                                        ng-click="deleteObsProjeto(projeto,observacao);projeto.observacoes.visible=true"></i>
                                </td>
                                <td width="50%">{{observacao.observacao}}</td>
                                <td>{{observacao.data}}</td>
                            </tr>
                        </table>

                    </li>
                    <li>
                        <i ng-class="{'glyphicon-folder-open': projeto.tasks.visible }"
                            ng-click="projeto.tasks.visible=!projeto.tasks.visible;projeto.tasks.atividades.visible=false;projeto.tasks.apontamentos.visible=false;"
                            class="glyphicon glyphicon-folder-close"></i>
                        <label>Tarefas({{projeto.tasks.length}}) - Estimado: {{estimativaGeral(projeto)}} ,
                            Apontamentos: {{apontamentosGeral(projeto)}} - Total Real {{realGeral(projeto)}} - Restante
                            {{restanteGeral(projeto)}}</label>
                        <i class="glyphicon glyphicon-plus" ng-click="abrirDiaolgTask(projeto)"></i>
                        <ul ng-show="projeto.tasks.visible && projeto.visible">
                            <li class="liAtvidade" ng-repeat="tarefa in projeto.tasks track by $index"
                                style="border: 1px solid;margin-bottom:5px">
                                <i ng-class="{'glyphicon-folder-open': tarefa.visible}"
                                    ng-click="tarefa.visible=!tarefa.visible; tarefa.atividades.visible=false;tarefa.apontamentos.visible=false;"
                                    class="glyphicon glyphicon-folder-close"></i>
                                <label style="width: 30%;">Tarefa {{$index+1}}: {{tarefa.descricao}}</label>
                                <label>|Estimado: {{estimativaTarefa(tarefa)}}</label>
                                <label>|Apontado: {{apontamentosTarefa(tarefa)}}</label>
                                <label>|Concluído: {{tarefa.apontamentos.slice(-1)[0].percentual}}%</label>
                                <label>|Esperado: {{realTarefa(tarefa)}}</label>
                                <label>|Restante: {{restanteTarefa(tarefa)}}</label>
                                <i class="glyphicon glyphicon-edit"
                                    ng-click="abrirDiaolgTask(projeto,tarefa,$index)"></i>
                                <i class="glyphicon glyphicon-trash"
                                    ng-click="deleteTask(projeto,tarefa);projeto.tasks.visible=true;"></i>
                                <ul ng-show="tarefa.visible && projeto.tasks.visible">
                                    <li class="atividades">
                                        <i ng-class="{'glyphicon-folder-open': tarefa.atividades.visible}"
                                            class="glyphicon glyphicon-folder-close"
                                            ng-click="tarefa.atividades.visible=!tarefa.atividades.visible"></i>
                                        <label>Atividades({{tarefa.atividades.length}}) | Estimado:
                                            {{estimativaTarefa(tarefa)}} </label>
                                        <i class="glyphicon glyphicon-plus" ng-click="abrirDialogAtividade(tarefa)"></i>

                                        <table ng-show="tarefa.atividades.visible  && tarefa.visible"
                                            style="width: 100%; display: inline-table;">
                                            <tr>
                                                <th style="text-align:center">Ações</th>
                                                <th>Descrição</th>
                                                <th>Estimativa</th>
                                                <th>Feito</th>
                                            </tr>
                                            <tr ng-repeat="atividade in tarefa.atividades track by $index"
                                                ng-class="{'done': atividade.feito}">
                                                <td style="width: 15%; text-align: center; border-right: 1px solid;">

                                                    <i ng-click="modaOrdemAtividade(tarefa.atividades,'u',$index)"
                                                        class="glyphicon glyphicon-circle-arrow-up"></i>
                                                    <i ng-click="modaOrdemAtividade(tarefa.atividades,'d',$index)"
                                                        class="	glyphicon glyphicon-circle-arrow-down"></i>

                                                    <i ng-click="abrirDialogAtividade(tarefa,atividade);tarefa.atividades.visible=true;"
                                                        class="glyphicon glyphicon-edit"></i>
                                                    <i ng-click="deleteAtividade(tarefa,atividade);tarefa.atividades.visible=true;"
                                                        class="glyphicon glyphicon-trash"></i>
                                                </td>
                                                <td>{{atividade.descricao}}</td>
                                                <td>{{atividade.hora | zpad:2}}:{{atividade.minuto | zpad:2}}</td>
                                                <td>
                                                    <input ng-change="gravarDadosStorage()" type="checkbox"
                                                        ng-model="atividade.feito">
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li class="apontamentos">
                                        <i ng-class="{'glyphicon-folder-open': tarefa.apontamentos.visible}"
                                            class="glyphicon glyphicon-folder-close"
                                            ng-click="tarefa.apontamentos.visible=!tarefa.apontamentos.visible"></i>
                                        <label>Apontamentos({{tarefa.apontamentos.length}}) | Total:
                                            {{apontamentosTarefa(tarefa)}} </label>
                                        <i class="glyphicon glyphicon-plus"
                                            ng-click="abrirDialogApontamento(tarefa);tarefa.apontamentos.visible=true;"></i>
                                        <table ng-show="tarefa.apontamentos.visible  && tarefa.visible"
                                            style="width: 100%; display: inline-table;">
                                            <tr>
                                                <th></th>
                                                <th>Data</th>
                                                <th>Tempo</th>
                                                <th>Percentual atual da tarefa</th>
                                            </tr>
                                            <tr
                                                ng-repeat="apontamento in tarefa.apontamentos| orderBy: '-data' track by $index">
                                                <td style="width: 10%; text-align: center;">
                                                    <i class="glyphicon glyphicon-trash"
                                                        ng-click="deleteApontamento(tarefa,apontamento);tarefa.apontamentos.visible=true;"></i>
                                                </td>
                                                <td>{{apontamento.data }}</td>
                                                <td>{{apontamento.hora | zpad:2}}:{{apontamento.minuto | zpad:2}}</td>
                                                <td>{{apontamento.percentual}}%</td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li class="observacoesTarefa">
                                        <i ng-class="{'glyphicon-folder-open': tarefa.observacoes.visible}"
                                            class="glyphicon glyphicon-folder-close"
                                            ng-click="tarefa.observacoes.visible=!tarefa.observacoes.visible"></i>
                                        <label>Observações da tarefa({{tarefa.observacoes.length}}) </label>
                                        <i class="glyphicon glyphicon-plus"
                                            ng-click="abrirDialogOservacaoTarefa(tarefa);tarefa.observacoes.visible=true;"></i>

                                        <table class="tbObservacoes" ng-show="tarefa.observacoes.visible  && tarefa.visible"
                                            style="width: 100%; display: inline-table;">
                                            <tr>
                                                <th></th>
                                                <th>Observação</th>
                                                <th>Data</th>
                                            </tr>
                                            <tr ng-repeat="observacao in tarefa.observacoes| reverse track by $index">
                                                <td style="width: 10%; text-align: center;">
                                                    <i class="glyphicon glyphicon-trash"
                                                        ng-click="deleteObsTarefa(tarefa,observacao);tarefa.observacoes.visible=true;"></i>
                                                </td>
                                                <td>{{observacao.observacao }}</td>
                                                <td>{{observacao.data}}</td>
                                            </tr>
                                        </table>

                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </li>
        </ul>
        <!-- mProjeto -->
        <dialog id="dProjeto" class="dPrj">
            <div class="mPrj">
                <div class="linha">
                    <H1>Projeto</H1>
                </div>
                <div class="linha">
                    <label>Código do projeto</label>
                    <input maxlength="10" ng-model="projetoEditar.codigo" placeholder="Digite o código do projeto"
                        type="text">
                </div>
                <div class="linha">
                    <label>Nome projeto</label>
                    <input maxlength="30" ng-model="projetoEditar.nome" placeholder="Digite o nome do projeto"
                        type="text">
                </div>
                <div class="linha">
                    <label>Descrição</label>
                    <textarea ng-model="projetoEditar.descricao" placeholder="Digite a descrição do projeto" cols="40"
                        rows="3"></textarea>
                </div>
                <div class="linha">
                    <button id="btCncPrj" class="btn btn-warning" ng-click="cancelarProjeto()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancelar
                    </button>

                    <button id="btnSlvPrj" class="btn btn-primary" ng-click="gravarProjeto()">
                        <i class="glyphicon glyphicon-ok"></i>
                        Salvar</button>
                </div>
            </div>
        </dialog>

        <dialog id="dPo" class="dPrj">
            <div class="mPrj">
                <div class="linha">
                    <H1>Envolvido</H1>
                </div>
                <div class="linha">
                    <label>Nome</label>
                    <input maxlength="30" ng-model="poEditar.nome" placeholder="Digite o nome" type="text">
                </div>
                <div class="linha">
                    <label>Email</label>
                    <input maxlength="30" ng-model="poEditar.email" placeholder="Digite o email" type="text">
                </div>
                <div class="linha">
                    <label>Telefone</label>
                    <input maxlength="30" ng-model="poEditar.telefone" placeholder="Digite o telefone" type="text">
                </div>
                <div class="linha">
                    <button id="btCncPo" class="btn btn-warning" ng-click="cancelarPo()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancelar</button>
                    <button id="btnSlvPo" class="btn btn-primary" ng-click="gravarPo()">
                        <i class="glyphicon glyphicon-ok"></i>
                        Salvar</button>
                </div>
            </div>
        </dialog>

        <dialog id="dTask" class="dPrj">
            <div class="mPrj">
                <div class="linha">
                    <H1>Tarefa</H1>
                </div>
                <div class="linha">
                    <label>Descrição da tarefa</label>
                    <input maxlength="30" type="text" ng-model="taskEditar.descricao" placeholder="Digite a tarefa">
                </div>
                <div class="linha" ng-show="projetoAtual.tasks.length>1 && taskSel">
                    <label>Posição atual : {{(posAtual+1)}}</label>
                </div>
                <div class="linha" ng-show="projetoAtual.tasks.length>1 && taskSel">
                    <label>Nova posição</label>
                    <select ng-model="novaPosTask">
                        <option ng-repeat="x in tasksIndex" ng-value="{{x}}" value="{{(x+1)}}">{{(x+1)}}</option>
                    </select>
                </div>

                <div class="linha">
                    <button id="btCncTask" class="btn btn-warning" ng-click="cancelarTask()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancelar</button>
                    <button id="btnSlvTask" class="btn btn-primary" ng-click="gravarTask()">
                        <i class="glyphicon glyphicon-ok"></i>
                        Salvar</button>
                </div>
            </div>
        </dialog>

        <dialog id="dAtividade" class="dPrj">
            <div class="mPrj">
                <div class="linha">
                    <H1>Atividade</H1>
                </div>
                <div class="linha">
                    <label>Descrição da atividade</label>
                    <input class="form-control" ng-model="atividadeEditar.descricao"
                        placeholder="Digite a descrição da atividade" maxlength="60" type="text">
                </div>
                <div>
                    <label>Estimativa</label>
                    <br>
                    <div class="linha2">
                        <input class="inpt form-control" min="0" ng-model="atividadeEditar.hora" type="number"><label
                            class="pontos">:</label>
                        <input class="inpt form-control" step="5" min="0" max="59" ng-model="atividadeEditar.minuto"
                            type="number">

                    </div>
                </div>
                <div class="displayTime">
                    <label>{{ atividadeEditar.hora | zpad:1 }}:{{atividadeEditar.minuto | zpad:2}}</label>
                </div>
                <div class="linha">
                    <button id="btCncAtividade" class="btn btn-warning" ng-click="cancelarAtividade()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancelar</button>
                    <button id="btnSlvAtividade" class="btn btn-primary" ng-click="gravarAtividade()">
                        <i class="glyphicon glyphicon-ok"></i>
                        Salvar</button>
                </div>
            </div>
        </dialog>

        <dialog id="dApontamento" class="dPrj">
            <div class="mPrj">
                <div class="linha">
                    <H1>Apontamento</H1>
                </div>
                <div class="linha">
                    <label>Data</label>
                    <input class="form-control" type="date" ng-model="apontamentoEditar.data">
                </div>
                <div>
                    <label>Tempo</label>
                    <br>
                    <div class="linha2">
                        <input class="input form-control" min="0" max="8" type="number"
                            ng-model="apontamentoEditar.hora"> <label class="pontos">:</label>
                        <input class="input form-control" min="0" step="5" max="59" type="number"
                            ng-model="apontamentoEditar.minuto">
                    </div>
                </div>
                <div class="displayTime">
                    <label>{{ apontamentoEditar.hora | zpad:1 }}:{{apontamentoEditar.minuto | zpad:2}}</label>
                </div>

                <div class="linha">
                    <label>Percentual atual da tarefa</label>
                    <input class="form-control" type="number" min="0" max="100" step="5"
                        ng-model="apontamentoEditar.percentual">
                </div>
                <div class="displayTime">
                    <label>{{apontamentoEditar.data | date:'dd/MM/yyyy'}} - {{ apontamentoEditar.hora | zpad:1
                        }}:{{apontamentoEditar.minuto
                        | zpad:2}} - {{apontamentoEditar.percentual}}%</label>
                </div>

                <div class="linha">
                    <button class="btn btn-warning" ng-click="cancelarApontamento()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancelar
                    </button>
                    <button class="btn btn-primary" ng-click="gravarApontamento()">
                        <i class="glyphicon glyphicon-ok"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </dialog>




        <dialog id="dObsTarefa" class="dPrj">
            <div class="mPrj">
                <div class="linha">
                    <H1>Observações</H1>
                </div>
                <div class="linha">
                    <label>observacão</label>
                    <input class="form-control" type="text" ng-model="obsTarefaEditar.observacao">
                </div>
                <div class="linha">
                    <button class="btn btn-warning" ng-click="cancelarObsTarefa()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancelar
                    </button>
                    <button class="btn btn-primary" ng-click="gravarObsTarefa()">
                        <i class="glyphicon glyphicon-ok"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </dialog>

        <dialog id="dObsProjeto" class="dPrj">
            <div class="mPrj">
                <div class="linha">
                    <H1>Observações</H1>
                </div>
                <div class="linha">
                    <label>observacão</label>
                    <input class="form-control" type="text" ng-model="obsProjetoEditar.observacao">
                </div>
                <div class="linha">
                    <button class="btn btn-warning" ng-click="cancelarObsProjeto()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancelar
                    </button>
                    <button class="btn btn-primary" ng-click="gravarObsProjeto()">
                        <i class="glyphicon glyphicon-ok"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </dialog>


        <dialog id="dSaida" class="dPrj">
            <div class="mPrj">

                <div class="linha">
                    <textarea ng-show="1===3" ng-model="txtSaida" cols="100" rows="15">

                    </textarea>
                    <div>
                        <label>Código projeto: {{codigoProjetoSel}}</label>
                        <!-- <p ng-bind-html="cnt"></p> -->
                    </div>


                    <div class="linha">
                        <button class="btn btn-warning" ng-click="fecharSaida()">
                            <i class="glyphicon glyphicon-remove"></i>
                            Cancelar
                        </button>
                        <button class="btn btn-primary" ng-click="salvarArquivo()">
                            <i class="glyphicon glyphicon-download-alt"></i>
                            Exportar
                        </button>
                    </div>


                </div>
            </div>
        </dialog>
    </div>
</body>
<script>
    angular.module('prjMngProjetos', ['ngSanitize'])
        .filter("reverse", function () {
            return function (items) {
                return items.slice().reverse(); // Create a copy of the array and reverse the order of the items
            };
        })
        .filter('zpad', function () {
            return function (input, n) {
                if (input === undefined)
                    input = '0'
                return String(input).padStart(n, '0');
            };
        })
        .controller('listProjetosController', function ($scope) {
            $scope.projetos = [];

            $scope.lerDadosStorage = function () {
                const dados = localStorage.getItem('mngPrj');

                if (dados) {
                    $scope.projetos = JSON.parse(dados);

                    $scope.projetos.forEach(projeto => {
                        projeto.visible = false;

                        projeto.tasks.forEach((task) => {
                            task.visible = false;

                            task.apontamentos.visible = false;
                            task.atividades.visible = false;
                        })
                    })
                }
            };

            $scope.gravarDadosStorage = function () {
                const dados = JSON.stringify($scope.projetos);

                localStorage.setItem('mngPrj', dados);
            };

            $scope.lerDadosStorage();

            $scope.transformaTempoEmInteiro = function (tempo) {
                var arrayTempo = String(tempo).split(':');

                var tempo_seg = ((parseInt(arrayTempo[0]) * 60) + parseInt(arrayTempo[1]));

                return tempo_seg;
            }

            $scope.somartempos = function (tempo1, tempo2) {

                if (tempo1 === "") {
                    tempo1 = "00:00";
                }

                var tempo_seg1 = $scope.transformaTempoEmInteiro(tempo1);

                var tempo_seg2 = $scope.transformaTempoEmInteiro(tempo2);

                var totalMinutos = tempo_seg1 + tempo_seg2

                var tempoDecimal = totalMinutos / 60;

                var horas = Math.floor(tempoDecimal);

                var minutosDecimal = tempoDecimal - horas;

                var minutos = Math.round(minutosDecimal * 60);

                return String(horas).padStart(2, '0') + ':' + String(minutos).padStart(2, '0');
            };


            $scope.subtrairTempos = function (tempo1, tempo2) {

                if (tempo1 === "") {
                    tempo1 = "00:00";
                }

                var tempo_seg1 = $scope.transformaTempoEmInteiro(tempo1);

                var tempo_seg2 = $scope.transformaTempoEmInteiro(tempo2);

                var totalMinutos = tempo_seg1 - tempo_seg2

                var tempoDecimal = totalMinutos / 60;

                var horas = Math.floor(tempoDecimal);

                var minutosDecimal = tempoDecimal - horas;

                var minutos = Math.round(minutosDecimal * 60);

                return String(horas).padStart(2, '0') + ':' + String(minutos).padStart(2, '0');
            };

            $scope.estimativaGeral = function (projeto) {

                if (projeto.tasks.length > 0)

                    return projeto.tasks.map(tks => {
                        return tks.atividades.map(x => x.hora + ':' + x.minuto).reduce((p, c) => {
                            return $scope.somartempos(p, c)
                        }, '00:00')
                    }).reduce((p, c) => {
                        return $scope.somartempos(p, c)
                    }, '00:00');
                else
                    return '00:00';
            };

            $scope.estimativaTarefa = (tarefa) => {
                return tarefa.atividades
                    .map(x => x.hora + ':' + x.minuto)
                    .reduce((p, c) => {
                        return $scope.somartempos(p, c)
                    }, '00:00');
            };

            $scope.apontamentosTarefa = (tarefa) => {
                return tarefa.apontamentos
                    .map(x => x.hora + ':' + x.minuto)
                    .reduce((p, c) => {
                        return $scope.somartempos(p, c)
                    }, '00:00');
            }

            $scope.realTarefa = (tarefa) => {
                let percentual = 0;

                if (tarefa.apontamentos.slice(-1).length > 0) {
                    percentual = tarefa.apontamentos.slice(-1)[0].percentual;
                }

                const totEstimativas = $scope.estimativaTarefa(tarefa);

                const totApontado = $scope.apontamentosTarefa(tarefa);

                let restante = totEstimativas;

                if (percentual > 0) {
                    restante = calcularRestante(totApontado, percentual);
                }
                return restante;
            };

            const calcularRestante = (totApontado, percentual) => {

                if (totApontado === "") {
                    totApontado = "00:00";
                }

                var tempo_seg1 = $scope.transformaTempoEmInteiro(totApontado);

                var valor = tempo_seg1 / (percentual / 100);

                var tempoDecimal = valor / 60;

                var horas = Math.floor(tempoDecimal);

                var minutosDecimal = tempoDecimal - horas;

                var minutos = Math.round(minutosDecimal * 60);

                return String(horas).padStart(2, '0') + ':' + String(minutos).padStart(2, '0');
            };

            $scope.qtdProjetos = [];

            $scope.abrirDiaolgProjeto = (projeto1) => {

                $scope.qtdProjetos = [];

                for (let i = 0; i <= $scope.projetos.length; i++) {
                    $scope.qtdProjetos.push(i + 1);
                }

                $scope.projetoSel = projeto1;

                $scope.projetoEditar = angular.copy(projeto1);

                dProjeto.show();

            };

            $scope.gravarProjeto = () => {

                if ($scope.projetoEditar === undefined) {
                    alert('Informe os dados');
                    return;
                }

                if ($scope.projetoEditar.nome === undefined) {
                    alert('Informe o nome do projeto');
                    return false;
                }
                else if ($scope.projetoEditar.nome.length < 5) {
                    alert('O nome do projeto deve ter no minimo 5 caracteres');
                    return;
                }

                if ($scope.projetoEditar.descricao === undefined) {
                    alert('Informe a descrição do projeto');
                    return false;
                }
                else if ($scope.projetoEditar.descricao.length < 20) {
                    alert('A descrição do projeto deve ter no minimo 20 caracteres');
                    return;
                }

                if ($scope.projetoSel) {
                    angular.extend($scope.projetoSel, $scope.projetoEditar);
                }
                else {
                    $scope.projetoEditar.tasks = [];
                    $scope.projetoEditar.pos = [];
                    $scope.projetoEditar.observacoes = [];
                    $scope.projetoEditar.id = generateUUID();


                    $scope.projetos.push($scope.projetoEditar);
                }

                $scope.projetoEditar = {};

                $scope.gravarDadosStorage();
                $scope.qtdProjetos = [];
                dProjeto.close();
                $scope.lerDadosStorage();
            };

            $scope.cancelarProjeto = () => {
                $scope.qtdProjetos = [];
                $scope.projetoEditar = {};
                dProjeto.close();
            };

            $scope.deleteProjeto = (projeto) => {
                if (confirm('Deseja excluir o projeto?')) {

                    $scope.projetos = $scope.projetos.filter((cc) => cc != projeto);
                    $scope.gravarDadosStorage();
                }
            }

            $scope.fecharSaida = () => {
                delete $scope.codigoProjetoSel;
                delete $scope.cnt;
                $scope.txtSaida = null;
                location.reload();
                dSaida.close();
            }

            $scope.exportarProjeto = (index, codigo) => {

                $scope.codigoProjetoSel = codigo;

                const botoes = document.querySelectorAll('i');

                botoes.forEach(pl => pl.remove());

                const atividades = document.querySelectorAll('.atividades');
                atividades.forEach(a => a.remove());

                const apontamentos = document.querySelectorAll('.apontamentos');
                apontamentos.forEach(a => a.remove());

                const p = document.getElementById('proj' + index);

                const ul = document.createElement('UL');
                ul.appendChild(p);

                $scope.cnt = ul.innerHTML;

                const divGeral1 = document.createElement('DIV');
                divGeral1.appendChild(p);

                $scope.cnt = divGeral1.innerHTML;

                dSaida.show();
                return;
            }

            $scope.salvarArquivo = () => {

                const data = new Date();

                let txtHtml = '<html><head>' +
                    '<style> ' +
                    'table {border: 1px solid; padding: 5px; margin-left: 20px;font-size: smaller; margin-top: 10px}' +
                    'td{ border-bottom: 1px solid; border-right: 1px solid;}' +
                    'label{font-weight: bolder;} ' +
                    'li{ padding: 10px; list-style: none;} ' +
                    'th{font-weight: bolder; border: 1px solid; background: black;color: beige} ' +
                    'ul{display: contents;}' +
                  
                    '.tbObservacoes td {    border-right: none;} '+
                    '.tbObservacoes tr:first-child {display:none;} ' +
                    'tr>td:first-child { display: none;} ' +
                    'tr>th:first-child { display: none;} ' +
                    ' *{    font-size: large;     font-family: sans-serif;}' +
                    ' pre{border: 1px solid;padding: 5px;}' +
                    '.liAtvidade {margin-left:20px;}' +
                    '</style>' +
                    '</head><body><div>Report: ' + data.toLocaleString() + '</div>' +
                    $scope.cnt +
                    '</body></html>';

                const tt = data.getDate() + '_' + (data.getMonth() + 1) + '_' + data.getFullYear() + '_' + data.getHours() + '_' + data.getMinutes()
                salvar('prj_' + $scope.codigoProjetoSel + '_' + tt, txtHtml);

                $scope.fecharSaida();

            }

            $scope.abrirDiaolgPo = (projeto, po) => {
                $scope.projetoAtual = projeto;

                if (po) {

                    $scope.poSel = po;

                    $scope.poEditar = angular.copy(po);
                }
                dPo.show();
            };

            $scope.cancelarPo = () => {
                $scope.poEditar = {};
                dPo.close();
            };

            $scope.gravarPo = () => {

                if ($scope.poEditar === undefined) {
                    alert('Informe os dados');
                    return;
                }

                if ($scope.poEditar.nome === undefined) {
                    alert('Informe o nome do envolvida');
                    return false;
                }
                else if ($scope.poEditar.nome.length < 5) {
                    alert('O nome do envolvido deve ter no minimo 5 caracteres');
                    return;
                }

                if ($scope.poEditar.email != undefined) {
                    if ($scope.poEditar.email.length < 10) {
                        alert('O e-mail do envolvido deve ter no minimo 10 caracteres');
                        return;
                    }
                }

                if ($scope.poEditar.telefone != undefined) {
                    if ($scope.poEditar.telefone.length < 8) {
                        alert('O telefone do envolvido deve ter no minimo 8 caracteres');
                        return;
                    }
                }


                if ($scope.poSel) {
                    angular.extend($scope.poSel, $scope.poEditar);
                }
                else {
                    $scope.projetoAtual.pos.push($scope.poEditar);
                }

                $scope.poEditar = {};

                delete $scope.projetoAtual;

                $scope.gravarDadosStorage();

                dPo.close();
            };

            $scope.deletePo = (projeto, po) => {
                if (confirm('Deseja excluir o envolvido?')) {

                    projeto.pos = projeto.pos.filter((cc) => cc != po);
                    $scope.gravarDadosStorage();
                }
            }

            $scope.abrirDialogObsProjeto = (projeto, observacao) => {
                $scope.projetoAtual = projeto;

                if (observacao) {

                    $scope.obsProjetoSel = observacao;

                    $scope.obsProjetoEditar = angular.copy(observacao);
                }
                dObsProjeto.show();
            };

            $scope.cancelarObsProjeto = () => {
                $scope.obsProjetoEditar = {};
                dObsProjeto.close();
            };

            $scope.gravarObsProjeto = () => {

                if ($scope.obsProjetoEditar === undefined) {
                    alert('Informe os dados');
                    return;
                }


                let dt = new Date();

                const obs = { observacao: $scope.obsProjetoEditar.observacao, data: dt.toLocaleDateString() };


                if ($scope.obsProjetoSel) {
                    angular.extend($scope.obsProjetoSel, obs);
                }
                else {
                    $scope.projetoAtual.observacoes.push(obs);
                }

                $scope.obsProjetoEditar = {};

                delete $scope.projetoAtual;

                $scope.gravarDadosStorage();

                dObsProjeto.close();
            };

            $scope.deleteObsProjeto = (projeto, observacao) => {
                if (confirm('Deseja excluir a observação?')) {

                    projeto.observacoes = projeto.observacoes.filter((cc) => cc != observacao);
                    $scope.gravarDadosStorage();
                }
            }

            $scope.abrirDiaolgTask = (projeto, task, index) => {
                $scope.projetoAtual = projeto;

                $scope.posAtual = index;

                $scope.taskSel = task;

                $scope.ordemTask(projeto);

                if (task) {

                    $scope.taskEditar = angular.copy(task);
                }

                dTask.show();
            };

            $scope.cancelarTask = () => {
                $scope.taskEditar = {};
                dTask.close();
            };

            $scope.gravarTask = () => {

                if ($scope.taskEditar === undefined) {
                    alert('Informe os dados');
                    return;
                }

                if ($scope.taskEditar.descricao === undefined) {
                    alert('Informe a descrição da tarefa');
                    return false;
                }
                else if ($scope.taskEditar.descricao.length < 10) {
                    alert('OA descrição da tarefa deve ter no minimo 10 caracteres');
                    return;
                }

                if ($scope.taskSel) {
                    angular.extend($scope.taskSel, $scope.taskEditar);


                    if ($scope.novaPosTask != undefined)
                        if ($scope.posAtual != $scope.novaPosTask) {
                            moveArrayElement($scope.projetoAtual.tasks, $scope.posAtual, $scope.novaPosTask);
                            delete $scope.novaPosTask;
                        }
                }
                else {
                    $scope.taskEditar.atividades = [];
                    $scope.taskEditar.apontamentos = [];
                    $scope.taskEditar.observacoes = [];
                    $scope.projetoAtual.tasks.push($scope.taskEditar);
                }

                $scope.taskEditar = {};

                delete $scope.projetoAtual;

                $scope.gravarDadosStorage();

                dTask.close();
            };

            $scope.deleteTask = (projeto, task) => {
                if (confirm('Deseja excluir a tarefa?')) {

                    projeto.tasks = projeto.tasks.filter((cc) => cc != task);
                    $scope.gravarDadosStorage();
                }
            }

            $scope.abrirDialogAtividade = (task, atividade) => {
                $scope.taskSel = task;

                $scope.atividadekSel = atividade;

                if (atividade) {

                    $scope.atividadeEditar = angular.copy(atividade);
                }
                dAtividade.show();
            };

            $scope.cancelarAtividade = () => {
                $scope.atividadeEditar = {};
                $scope.atividadekSel = [];
                dAtividade.close();
            };

            $scope.gravarAtividade = () => {

                if ($scope.atividadeEditar === undefined) {
                    alert('Informe os dados');
                    return;
                }

                if ($scope.atividadeEditar.descricao === undefined) {
                    alert('Informe a descrição da atividade');
                    return false;
                }
                else if ($scope.atividadeEditar.descricao.length < 10) {
                    alert('OA descrição da atividade deve ter no minimo 10 caracteres');
                    return;
                }

                if ($scope.atividadeEditar.hora === undefined) {
                    alert('Informe hora');
                    return false;
                }

                if ($scope.atividadeEditar.minuto === undefined) {
                    alert('Informe os minutos');
                    return false;
                }
                else {
                    if ($scope.atividadeEditar.minuto > 59) {
                        alert('O valor maximo para minutos é 59');
                        return false;
                    }
                }

                if ($scope.atividadekSel) {
                    angular.extend($scope.atividadekSel, $scope.atividadeEditar);
                }
                else {
                    $scope.taskSel.atividades.push($scope.atividadeEditar);
                }

                $scope.atividadeEditar = {};

                $scope.gravarDadosStorage();

                dAtividade.close();
            };

            $scope.deleteAtividade = (tarefa, atividade) => {
                if (confirm('Deseja excluir a atividade?')) {

                    tarefa.atividades = tarefa.atividades.filter((x) => x != atividade);

                    $scope.gravarDadosStorage();
                }
            };

            $scope.abrirDialogApontamento = (task, apontamento) => {

                $scope.taskSel = task;

                $scope.aapontamentoSel = apontamento;

                if (apontamento) {

                    $scope.apontamentoEditar = angular.copy(apontamento);
                }
                else {
                    //$scope.apontamentoEditar.hora ={ value:20} ;
                }
                dApontamento.show();
            };

            $scope.cancelarApontamento = () => {
                $scope.apontamentoEditar = {};
                $scope.apontamentokSel = [];
                dApontamento.close();
            };

            $scope.gravarApontamento = () => {

                if ($scope.apontamentoEditar === undefined) {
                    alert('Informe os dados');
                    return;
                }
                else {
                    if ($scope.apontamentoEditar.data === undefined) {
                        alert('Informe a data');
                        return;
                    }

                    if ($scope.apontamentoEditar.hora === undefined) {
                        alert('Informe a hora');
                        return;
                    }
                    if ($scope.apontamentoEditar.minuto === undefined) {
                        alert('Informe os minutos')
                        return;
                    }
                    if ($scope.apontamentoEditar.percentual === undefined) {
                        alert('Infomre o percentual atual da tarefa');
                        return;
                    }
                }

                let data = String($scope.apontamentoEditar.data).split('-');

                let dt = new Date(data[0], data[1] - 1, data[2]);

                $scope.apontamentoEditar.data = dt.toLocaleDateString();

                console.log($scope.apontamentoEditar);

                if ($scope.apontamentoSel) {
                    angular.extend($scope.apontamentoSel, $scope.apontamentoEditar);
                }
                else {
                    $scope.taskSel.apontamentos.push($scope.apontamentoEditar);
                }

                $scope.apontamentoEditar = {};

                $scope.gravarDadosStorage();

                dApontamento.close();
            };

            $scope.deleteApontamento = (tarefa, apontamento) => {
                if (confirm('Deseja excluir o apontamento?')) {

                    tarefa.apontamentos = tarefa.apontamentos.filter((x) => x != apontamento);

                    $scope.gravarDadosStorage();
                }
            };

            $scope.apontamentosGeral = (projeto) => {

                if (projeto.tasks.length > 0) {

                    return projeto.tasks.map(tks => {
                        return tks.apontamentos.map(x => x.hora + ':' + x.minuto).reduce((p, c) => {
                            return $scope.somartempos(p, c)
                        }, '00:00')
                    }).reduce((p, c) => {
                        return $scope.somartempos(p, c)
                    }, '00:00');
                } else {
                    return '00:00';
                }
            };

            $scope.abrirDialogOservacaoTarefa = (task, observacao) => {
                $scope.taskSel = task;

                $scope.obsTarefaSel = observacao;

                if (observacao) {

                    $scope.obsTarefaEditar = angular.copy(observacao);
                }
                else {
                    //$scope.apontamentoEditar.hora ={ value:20} ;
                }
                dObsTarefa.show();
            }

            $scope.cancelarObsTarefa = () => {
                $scope.obsTarefaEditar = {};
                $scope.obsTarefaSel = [];
                dObsTarefa.close();
            };

            $scope.gravarObsTarefa = () => {

                if ($scope.obsTarefaEditar === undefined) {
                    alert('Informe os dados');
                    return;
                }

                let dt = new Date();

                const obs = { observacao: $scope.obsTarefaEditar.observacao, data: dt.toLocaleDateString() };

                if ($scope.obsTarefaSel) {
                    angular.extend($scope.obsTarefaSel, obs);
                }
                else {
                    $scope.taskSel.observacoes.push(obs);
                }

                $scope.obsTarefaEditar = {};

                $scope.gravarDadosStorage();

                delete obs;
                dObsTarefa.close();
            };

            $scope.deleteObsTarefa = (tarefa, observacao) => {
                if (confirm('Deseja excluir a observação?')) {

                    tarefa.observacoes = tarefa.observacoes.filter((x) => x != observacao);

                    $scope.gravarDadosStorage();
                }
            };

            $scope.realGeral = (projeto) => {

                let cc = "00:00";

                projeto.tasks.forEach((tarefa) =>
                    cc = $scope.somartempos(cc, $scope.realTarefa(tarefa))
                )
                return cc;
            }

            $scope.restanteTarefa = (tarefa) => {
                const t = $scope.realTarefa(tarefa);
                const a = $scope.apontamentosTarefa(tarefa);

                return $scope.subtrairTempos(t, a);
            }

            $scope.restanteGeral = (projeto) => {
                const t = $scope.realGeral(projeto);
                const a = $scope.apontamentosGeral(projeto);
                return $scope.subtrairTempos(t, a);
            }

            $scope.primeiroPrj = (projeto) => {
                if ($scope.projetos.length === 1) {
                    return projeto.pos.length > 0 || projeto.tasks.length > 0;
                }
                return true;
            }

            $scope.ordemTask = (projeto) => {
                $scope.tasksIndex = [];

                projeto.tasks.forEach((x, index) => {
                    if (index != $scope.posAtual)
                        $scope.tasksIndex.push(index);
                });

                console.log($scope.tasksIndex);
            }

            $scope.modaOrdemAtividade = (array, direcao, posAtual) => {


                if (direcao === 'u' && posAtual === 0) {
                    return;
                }

                if (direcao === 'd' && posAtual === array.length - 1) {
                    return;
                }

                let novaPos = 0;

                if (direcao === 'u') {
                    novaPos = posAtual - 1;
                }
                else {
                    novaPos = posAtual + 1;
                }

                moveArrayElement(array, posAtual, novaPos);

                $scope.gravarDadosStorage();

            }

        });

</script>
</body>

</html>